<h1> <%= data.drinks[0].strDrink %> </h1>


<form class="form-floating">
    <div>
        <label for="floatingInputValue">Ingredient 1</label>
        <input type="text" class="form-control" id="ingredient1" value="<%= data.drinks[0].strMeasure1 %> <%= data.drinks[0].strIngredient1 %>" cols="2" rows=''>
    </div>
    <div>
        <label for="floatingInputValue">Ingredient 2</label>
        <input type="text" class="form-control" id="ingredient2" value="<%= data.drinks[0].strMeasure2 %> <%= data.drinks[0].strIngredient2 %>" cols="2" rows=''>
    </div>
    <div>
        <label for="floatingInputValue">Ingredient 3</label>
        <input type="text" class="form-control" id="ingredient3" value="<%= data.drinks[0].strMeasure3 %> <%= data.drinks[0].strIngredient3 %>" cols="2" rows='5'>
    </div>
    <div>
        <label for="floatingInputValue">Ingredient 4</label>
        <input type="text" class="form-control" id="ingredient4" value="<%= data.drinks[0].strMeasure4 %> <%= data.drinks[0].strIngredient4 %>" cols="2" rows='5'>
    </div>
    <div>
        <label for="floatingInputValue">Ingredient 5</label>
        <input type="text" class="form-control" id="ingredient5" value="<%= data.drinks[0].strMeasure5 %> <%= data.drinks[0].strIngredient5 %>" cols="2" rows='5'>
    </div>
    <div>
        <label for="floatingInputValue">Ingredient 6</label>
        <input type="text" class="form-control" id="ingredient6" value="<%= data.drinks[0].strMeasure6 %> <%= data.drinks[0].strIngredient6 %>" cols="2" rows='5'>
    </div>
    <div>
        <label for="floatingInputValue">Ingredient 7</label>
        <input type="text" class="form-control" id="ingredient7" value="<%= data.drinks[0].strMeasure7 %> <%= data.drinks[0].strIngredient7 %>" cols="2" rows='5'>
    </div>
    <div>
        <label for="floatingInputValue">Ingredient 8</label>
        <input type="text" class="form-control" id="ingredient8" value="<%= data.drinks[0].strMeasure8 %> <%= data.drinks[0].strIngredient8 %>" cols="2" rows='5'>
    </div>
    <div>
        <label for="floatingInputValue">Ingredient 9</label>
        <input type="text" class="form-control" id="ingredient9" value="<%= data.drinks[0].strMeasure9 %> <%= data.drinks[0].strIngredient9 %>" cols="2" rows='5'>
    </div>
    <div>
        <label for="floatingInputValue">Ingredient 10</label>
        <input type="text" class="form-control" id="ingredient10" value="<%= data.drinks[0].strMeasure10 %> <%= data.drinks[0].strIngredient10 %>" cols="2" rows='5'>
    </div>
    <div>
        <label for="floatingInputValue">Ingredient 11</label>
        <input type="text" class="form-control" id="ingredient11" value="<%= data.drinks[0].strMeasure11 %> <%= data.drinks[0].strIngredient11 %>" cols="2" rows='5'>
    </div>
    <div>
        <label for="floatingInputValue">Ingredient 12</label>
        <input type="text" class="form-control" id="ingredient12" value="<%= data.drinks[0].strMeasure12 %> <%= data.drinks[0].strIngredient12 %>" cols="2" rows='5'>
    </div>
    <div>
        <label for="floatingInputValue">Ingredient 13</label>
        <input type="text" class="form-control" id="ingredient13" value="<%= data.drinks[0].strMeasure13 %> <%= data.drinks[0].strIngredient13 %>" cols="2" rows='5'>
    </div>
    <div>
        <label for="floatingInputValue">Ingredient 14</label>
        <input type="text" class="form-control" id="ingredient14" value="<%= data.drinks[0].strMeasure14 %> <%= data.drinks[0].strIngredient14 %>" cols="2" rows='5'>
    </div>
    <div>
        <label for="floatingInputValue">Ingredient 15</label>
        <input type="text" class="form-control" id="ingredient15" value="<%= data.drinks[0].strMeasure15 %> <%= data.drinks[0].strIngredient15 %>" cols="2" rows='5'>
    </div>
    <div>
        <label for="floatingInputValue">Ingredient 15</label>
        <input type="text" class="form-control" id="ingredient15" value="<%= data.drinks[0].strMeasure15 %> <%= data.drinks[0].strIngredient15 %>" cols="2" rows='5'>
    </div>
    <div>
        <label for="customRange2" class="form-label">Rating</label>
        <input type="range" class="form-range" min="0" max="5" id="customRange2">
    </div>
    <div>
        <label for="floatingInputValue">Instructions</label>
        <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com" value="<%= data.drinks[0].strInstructions %>">
    </div>
    <div>
        <label for="dateTasted">Date Tasted</label>
        <select class="form-select" aria-label="Default select example">
            <option selected>Month</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <select class="form-select" aria-label="Default select example">
            <option selected>Day</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <select class="form-select" aria-label="Default select example">
            <option selected>Year</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div>
        <label for="floatingInputValue">Comments</label>
        <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com" value="Comments">
    </div>

</form>



<p>Category: <%= data.drinks[0].strCategory %> </p>

