<p>Name: <%= data.drinkName %> </p>
<p>Ingredient: <%= data.ingredient1 %> </p>
<p>Comment: <%= data.comment %></p>

<p><a href="../editmydrink/<%= data.id %>">EDIT</a></p>

<form action="/drinks/mydrink/<%=data.id%>/?_method=DELETE" method="post">
    <button type="submit">DELETE</button>
</form>